In [8]:
import pandas as pd 
import numpy as np 

file = "../Downloads/purchase_data.csv"

purchase_data_df = pd.read_csv (file)

In [9]:
number_players_df = len(purchase_data_df["SN"].value_counts())

players_count = pd.DataFrame ({"Number of players":[number_players_df]})
players_count

   Number of players
0                576

In [4]:
#Purchasing Analysis (Total)
average_price_df = purchase_data_df ["Price"].mean()
unique_item_df = len(purchase_data_df["Item ID"].unique())
total_price_df = purchase_data_df["Price"].sum()
price_count_df = purchase_data_df ["Price"].count()

summary_table = pd.DataFrame ({"Unique items": unique_item_df, 
"Total Revenue": [total_price_df], "Total price count" : [price_count_df] , "Average price" : [average_price_df]})

summary_table

   Unique items  Total Revenue  Total price count  Average price
0           179        2379.77                780       3.050987

In [37]:
# Purchasing Analysis (Gender)
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase by Gender")
gender_average_value = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase by Genger")
gender_total_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count by Gender")
avg_total_per_person = gender_purchase_total / gender_total_counts * 100 

#pd.Data Frame ({"Average total per person": avg_total_per_person })
Puchasing_analysis_gender = pd.DataFrame({"Purchase Count by Gender": gender_total_counts, 
                            "Total Purchase by Gender": gender_purchase_total, 
                            "Average Purchase by Gender": gender_average_value})

Puchasing_analysis_gender.head()

,Purchase Count by Gender,Total Purchase by Gender,Average Purchase by Gender
Gender,,,
Female,113,361.94,3.203009
Male,652,1967.64,3.017853
Other / Non-Disclosed,15,50.19,3.346000

In [28]:
# Purchasing Analysis (age)
age_purchase_total = purchase_data_df.groupby(["Age"]).sum()["Price"].rename("Total Purchase")
age_average_value = purchase_data_df.groupby(["Age"]).mean()["Price"].rename("Average Purchase")
age_total_counts = purchase_data_df.groupby(["Age"]).count()["Price"].rename("Purchase Count")
avg_total_per_person_age = age_purchase_total / age_total_counts * 100 

#pd.Data Frame ({"Average total per person by age": avg_total_per_person_age })
gender_data = pd.DataFrame({"Purchase Count": age_total_counts, 
                            "Total Purchase": age_purchase_total, 
                            "Average Purchase": age_average_value})

gender_data.head()

     Purchase Count  Total Purchase  Average Purchase
Age
7                 9           32.89          3.654444
8                 8           25.97          3.246250
9                 6           18.27          3.045000
10                9           31.83          3.536667
11                7           18.79          2.684286

In [5]:
#Gender Demographics
player_demographics = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [6]:
gender_demographics= player_demographics["Gender"].value_counts()
gender_demographic_percentages = gender_demographics / number_players_df * 100

gender_df = pd.DataFrame({"Total" : gender_demographics, 
                          "Percentage of players": gender_demographic_percentages})

gender_demographics 
gender_demographic_percentages
gender_df

                       Total  Percentage of players
Male                     652             113.194444
Female                   113              19.618056
Other / Non-Disclosed     15               2.604167

In [7]:
#Age Demographics
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics["Ages in range"] = pd.cut(player_demographics["Age"], bins, labels = bin_labels)
Age_demographics = player_demographics["Ages in range"].value_counts()
Age_percentages = Age_demographics / number_players_df * 100

Age_demographics_df = pd.DataFrame({"Total Count" : Age_demographics, "Percentage of player" : Age_percentages})
Age_demographics_df.head()

       Total Count  Percentage of player
20-24          365             63.368056
15-19          136             23.611111
25-29          101             17.534722
30-34           73             12.673611
35-39           41              7.118056

In [45]:
#Most popular items
Most_Popular_items = purchase_data_df.groupby(["Item Name"]).count()["Item ID"]
Most_Popular_items.head()

Item Name
Abyssal Shard                     5
Aetherius, Boon of the Blessed    5
Agatha                            6
Alpha                             3
Alpha, Oath of Zeal               3
Name: Item ID, dtype: int64

In [48]:
#Most Profitable Items
Profitable_items = purchase_data_df.groupby(["Item ID","Item Name"]).sum()["Price"]
Profitable_items. head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer              11.77
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [44]:
#Most popular items
#Total_purchase_item = purchase_data_df.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purchase")
#Item_price = purchase_data_df.value(["Item ID", "Item Name"])["Price"].rename("Item Price")
#Count_item = purchase_data_df.groupby(["Item ID","Item Name"]).count()["Price"].rename("Purchase Count")

#Popular_items = pd.DataFrame({"Total Purchase": Total_purchase_item, 
                            #"Item price": Item_price, 
                            #"Purchase counts": Total_purchase_item })
                
#Popular_items.head()

#Most Profitable Items
#Total_purchase_item = purchase_data_df.groupby(["Item Name"]).sum()["Price"].rename("Total Purchase")
#Item_price = purchase_data_df.value(["Item Name"]).["Price"].rename("Item Price)
#Count_item = purchase_data_df.groupby(["Age"]).count()["Price"].rename("Purchase Count")

#Popular_items = pd.DataFrame({"Total Purchase": Total_purchase_item, 
                            #"Item price": Item_price, 
                            #"Purchase counts": Total_purchase_item })
                
#Popular_items.head()